<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Money Toy</title>
  </head>
  <body>
    <div class="wrapper">
      <a href="./shop.html" class="shop block">SHOP</a>
      <div class="level_cont"></div>
      <div class="avatar block">
        <div class="avatar_name"></div>
      </div>
      <div class="balance_field"></div>
      <img src="../png/enemy_3.png" alt="enemy" class="enemy1" />
      <img src="../png/enemy_5.png" alt="enemy" class="enemy2" />
    </div>
    <script src="../scripts/main.js" type="module"></script>
  </body>
</html>
